<div class="map-shine-panel standard-form">
    <h1>Map Shine Controls</h1>

    <section>
        <h2>PBR Texture Preview</h2>
        <div class="form-group">
            <label for="pbr-type-select">Texture Type:</label>
                <select name="pbr-texture-type" id="pbr-texture-type">
                    <optgroup label="PBR Textures">
                        {{#each fileTextures}}
                            <option value="{{this.key}}">{{this.name}}</option>
                        {{/each}}
                    </optgroup>
                    <optgroup label="Procedural Textures">
                        {{#each proceduralTextures}}
                            <option value="{{this.key}}">{{this.name}}</option>
                        {{/each}}
                    </optgroup>
                </select>
        </div>
        <button id="preview-pbr-btn">Preview Texture</button>
    </section>

    <section>
        <h2>Texture Manager</h2>
        <div id="texture-status-container" class="texture-manager">
            {{#each textures}}
            <div class="texture-row" title="{{this.path}}">
                <span class="status-light {{this.statusClass}}"></span>
                <span class="texture-name" title="{{this.tooltip}}">{{this.name}}</span>
            </div>
            {{/each}}
        </div>
    </section>


</div>
